/* blockquotes and code blocks */

blockquote {
  background: #f9f9f9;
  border-left: 1px solid #ccc;
  padding: 3px 1em 3px;
}


/* pre and code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code {
  background: #cccccc;
}
pre code {
  background: none;
  max-width: 800px;
}

