/* blockquotes and code blocks */

blockquote {
  background: none;
  border-left: 1px solid #ccc;
  padding: 3px 1em 3px;
  max-width: 800px;
}

/* pre and code */
pre {
  background: none;
  margin-left: 5%;
  border-left: 1px solid #ccc;
  padding: 1em;
  overflow-x: auto;
}

code {
  background: none;
  max-width: 800px;
}


