/* dark colour scheme */
:root {
  --pagecolour: #333;     /* dark grey */
  --maintext: #ddd;       /* almost white */
  --faded: #888;          /* light grey */
  --highlight: hotpink;   /* bright pink */
  --lowlight: #ba68c8;    /* purple */
}
