/* import highlight */
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/github.min.css");

/* light colour scheme */
:root {
  --primary: #111;
  --subtle: #ccc;
  --behind: #fcfcfc;
  --highlight: blue;
}
