
/* dark colour scheme */
:root {
  --primary: #ddd;
  --subtle: #888;
  --behind: #333;
  --highlight: hotpink;
}

/* syntax highlighting */

.hljs,
.hljs-subst {
  color: var(primary);
}

.hljs-keyword,
.hljs-built_in,
.hljs-function{
  color: var(highlight);
}

.hljs-comment {
  color: var(subtle);
  font-style: italic;
}
