/* import solarized-dark */
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/solarized-dark.min.css");

/* dark colour scheme */
:root {
  --primary: #ddd;
  --subtle: #888;
  --behind: #333;
  --highlight: hotpink;
}

