@charset "UTF-8";

html { font-size: 15px; }

body {
  margin-left: auto;
  margin-right: auto;
  padding-left: 12.5%;
  background-color: #f8f8f8;
  color: #111;
  max-width: 800px;
  counter-reset: sidenote-counter;
}

/* horizontal rule styling */
hr {
  display: block;
  height: 1px;
  width: 55%;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* header and footer areas */
.menu { padding: 0; }
.menu li { display: inline-block; }
.article-meta, .menu a {
  text-decoration: none;
  background: #eee;
  padding-left: 12.5%;
  padding: 5px;
}
.menu, .article-meta, footer { text-align: left; }
.title { font-size: 1.1em; }
footer a { text-decoration: none; }


/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code {
  background: #eeeeee;
  max-width: 800px;
}
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }
