
/* font size and family */
html {font-size: 15px;}
body {font-family: et-book, Palatino, "Palatino Linotype", serif;}
code {font-family: Monaco, monospace;}

/* main text elements */
body {
  background-color: var(--behind);
  color: var(--primary);
  counter-reset: sidenote-counter;
  margin: 0;
}
.main-content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  max-width: 800px;
}
p, ol, ul {
  font-size: 1.4rem;
  line-height: 2rem;
}
p {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
}

/* headings */
h1 {
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 2.7rem;
  line-height: 1;
}
h2 {
  font-style: italic;
  font-weight: 400;
  margin-top: 2.1rem;
  margin-bottom: 1.4rem;
  font-size: 1.8rem;
  line-height: 1;
}
h3 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
  line-height: 1;
}

/* blockquotes and code blocks */
blockquote {
  background: none;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: var(--subtle);
  padding: 3px 1em 3px;
  max-width: 800px;
}
pre {
  background: none;
  margin-left: 5%;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: var(--subtle);
  padding: 1em;
  overflow-x: auto;
}
code {
  background: none;
  max-width: 800px;
}

/* links */
a:link, a:visited {
  color: var(--highlight);
  font-style: italic;
  text-decoration: none;
}

/* horizontal rule styling */
hr {
  display: block;
  height: 1px;
  width: 75%;
  border: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--subtle);
  margin: 1em 0;
  padding: 0;
}

/* header and footer areas */
.menu {
  padding-left: 0px;
  padding-bottom: 5px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--subtle);
}
.menu li { display: inline-block; }
.article-meta, .menu a {
  text-decoration: none;
  background: none;
  padding-left: 5%;
  padding: 5px;
}
.menu, .article-meta { text-align: left; }
.title { font-size: 1.1em; }
footer {
  text-align: center;
  color: var(--subtle);
}
footer a:visited, footer a:link {
  text-decoration: none;
  font-style: normal;
  color: var(--subtle)
}
.menu a:visited, .menu a:link {
  text-decoration: none;
  font-style: normal;
  color: var(--subtle)
}

/* miscellaneous elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }

/* table formatting */
table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }

/* formatting for header images */
.article-header {
  padding: 0;
  max-width: 100%;
  width: 100%;
  position: relative; /* Required for caption positioning */
  clear: both;
}
.article-banner {
  padding: 0;
  max-width: 100%;
  width: 100%;
  height: auto;
}


/* syntax highlighting */
.hljs,.hljs-subst {
  color: var(--primary);
}

.hljs-keyword,
.hljs-built_in,
.hljs-function{
  color: var(--highlight);
}

.hljs-comment {
  color: var(--subtle);
  font-style: italic;
}

.hljs-string,
.hljs-number,
.hljs-literal {
  color: var(--subtle);
  font-style: bold;
}
