<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "header.html" . }}

  <body>
    <div class="main-content">

      {{ partial "menu_strip.html" . }}

      {{if not .IsHome }}
        <h1>{{ .Title | markdownify }}</h1>
      {{ end }}

      {{ .Content }}

      <ul>
        {{ range (where .Data.Pages "Section" "!=" "") }}
        <li>
          <a href="{{ .URL }}">{{ .Title | markdownify }}</a>
          <span class="date">{{ .Date.Format "02 Jan 2006" }}</span>
        </li>
        {{ end }}
      </ul>

      {{ partial "footer.html" . }}

    </div>
  </body>
</html>

